.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  margin: 92px auto;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  align-items: stretch;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 66px auto 64px auto;
    min-height: 200px;
  }
}