.place__website {
  width: 35.63vw; /*456px;*/
  margin: 0;
  align-self: end;
}

@media (min-width: 426px) and (max-width: 768px) {
  .place__website {
    width: 45.83vw; /*352px;*/
  }
}

@media (max-width: 425px) {
  .place__website {
    width: 288px;
    padding-left: 16px;
  }
}